/* Fondo con degradado */
body {
    /* background-image: linear-gradient(to bottom, #ef68b5, #ea69c0, #e36cca, #db6ed5, #d172df, #c46fe0, #b66ce2, #a76ae3, #9360dc, #7d56d6, #654dd0, #4844c9); */
    background-image: linear-gradient(to bottom, #c33386, #c43996, #c340a6, #c048b6, #bb51c7, #b051cc, #a452d0, #9753d5, #844bcf, #6f43ca, #583cc4, #3b36be);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #ebe5e5; /* Asegura un buen contraste */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, cursive; /* Fuente limpia y legible */
    min-height: 100vh; /* Asegura que el fondo cubra toda la pantalla */
    margin: 0; /* Elimina márgenes por defecto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.texto {
    color: #654dd0;
}

.boton2 {
    background-color: #6fac77;
    border-radius: 10px;
    border-color: #bb60bb;
   }

.boton3 {
    border-radius: 10px;
    border-color: #681a77;
    background-color: #efebf0;
   }


.card {
    border-radius: 10px;
    box-shadow: #4844c9;
}

.boton3 {
    background-color: #883fa5;
    border-radius: 10px;
    border-color: #050005;
    transition: background-color 0.3s;
   }

.boton3:hover {
    background-color: #bd0c6d; /* Color al pasar el ratón */
}

.boton4 {
    background-color: #883fa5;
    border-radius: 10px;
    border-color: #050005;
    transition: background-color 0.3s;
    color: #f1ecf7;
   }

.boton4:hover {
    background-color: #bd0c6d; /* Color al pasar el ratón */
}

.gif {
    width: 45%; /* Cambia este valor según lo necesites */
    max-width: 300px; /* Opcional: establece un ancho máximo */
    height: auto; /* Mantiene la proporción de la imagen */
}

.fieras {
    width: 35%;
}